<div class="row" style="margin-top:15px">
  <div class="col-md-12">			

    <div class="card">
      <h5 class="card-header">
        Relatórios
      </h5>
      <div class="card-body" style="padding:10px">
<form class="form">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <label>
          De
        </label>
        <input type="date" class="form-control" id="" placeholder="Logradouro">		
      </div>	
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <label>
          Até
        </label>
        <input type="date" class="form-control" id="" placeholder="Logradouro">		
      </div>	
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <label>
          Data de:
        </label>
        <select class="form-control">
          <option></option>
          <option>ESPÍRITO SANTO - ES</option>
          <option>MINAS GERAIS - MG</option>
          <option>RIO DE JANEIRO - RJ</option>
          <option>SÃO PAULO - SP</option>
        </select>				
      </div>	
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      
        <label>
          Rota
        </label>
<input type="text" class="form-control" id="" >						
  
      </div>
      
      
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <label>
          Cliente
        </label>
        <select class="form-control">
          <option></option>
          <option>MOTO</option>
          <option>CAMINHONETE</option>
          <option>CAMINHÃO</option>
        </select>				
      </div>	
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <label>
          Status
        </label>
        <select class="form-control">
          <option></option>
          <option>MOTO</option>
          <option>CAMINHONETE</option>
          <option>CAMINHÃO</option>
        </select>				
      </div>
      
        
                
    </div>	
  
<a class="btn btn-success " href="#">Pesquisar</a>	


  
</form>
    
    
    

</div>

</div>				
      
      

  </div>
</div>




<div class="row" style="margin-top: 15px">
  <div class="col-md-12">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>
            Data
          </th>
          <th>
            Rota
          </th>
          <th>
            Previsão entrega
          </th>
          <th>
            UF Entrega
          </th>
          <th>
            Status
          </th>
          <th>
            Ação
          </th>						
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            02/08/2018
          </td>
          <td>
            Líder Aviação
          </td>
          <td>
            MG
          </td>
          <td>
            SP
          </td>
          <td>
            Coletado
          </td>						
          <td>
                  
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
