<div class="container-fluid" style="margin-top:15px">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link active" routerLink="/" href="#">Home</a>
				</li>				
				<li class="nav-item">
					<a class="nav-link active" routerLink="/coleta" href="#">Coletas</a>
				</li>
				<li class="nav-item">
						<a class="nav-link active" routerLink="/expedicao" href="#">Expedição</a>
				</li>
				<li class="nav-item">
						<a class="nav-link active" routerLink="/frete" href="#">Frete</a>
				</li>
				<!--<li class="nav-item">
					<a class="nav-link active" routerLink="/relatorio" href="#">Relatórios</a>
				</li>-->
			</ul>
		</div>
	</div>
	<router-outlet></router-outlet>
</div>
