<div class="row" style="margin-top:15px">
  <div class="col-md-12">			

    <div class="card">
      <h5 class="card-header">
        Expedição
      </h5>
      <div class="card-body" style="padding:10px">
        <form class="form">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <label>
                Data
              </label>
              <input type="date" class="form-control" name="rota.DataCriacao" [(ngModel)]="rota.DataCriacao">
            </div>	
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <label>
                Previsão Entrega
              </label>
              <input type="date" class="form-control" name="rota.DataEntrega" [(ngModel)]="rota.DataEntrega">
            </div>	
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <label>
                UF
              </label>
              <select class="form-control" name="rota.UfId" [(ngModel)]="rota.UfId">
                <option value=""></option>
                <option value="4">ES</option>
                <option value="1">MG</option>
                <option value="2">RJ</option>
                <option value="3">SP</option>
              </select>				
            </div>	
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            
              <label>
                Motorista
              </label>
              <select class="form-control" name="rota.FuncionarioId" [(ngModel)]="rota.FuncionarioId">
                <option></option>
                <option value="1">RENATO</option>
              </select>					
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <label>
                Veículo
              </label>
              <select class="form-control" name="rota.FrotaId" [(ngModel)]="rota.FrotaId">
                <option></option>
                <option value="1">MOTO</option>
                <option value="2">CAMINHONETE</option>
                <option value="3">CAMINHÃO</option>
              </select>				
            </div>	
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <label>
                Rota
              </label>
              <input type="text" class="form-control" readonly="readonly" name="rota.RotaId" [(ngModel)]="rota.RotaId">				
            </div>
            
              
                      
          </div>	
          <div style="margin-top: 20px">
            <a class="btn {{btn}}" (click)="salvar()">{{textoBtn}}</a>
			      <a style="margin-top: 0px; margin-left: 5px" class="btn btn-outline-secondary" [hidden]="textoBtn=='Salvar'" (click)="cancelar()">Cancelar</a>
          </div>
        </form>
        <!--<table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>

          </th>					
          <th>
            Previsão entrega
          </th>
          <th>
            Cliente
          </th>
          <th>
            UF Coleta
          </th>
          <th>
            UF Entrega
          </th>		
          <th>
            Status
          </th>							
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <input class="form-control" Type="checkbox" />
          </th>					
          <td>
            02/08/2018
          </td>
          <td>
            Líder Aviação
          </td>
          <td>
            MG
          </td>
          <td>
            SP
          </td>
          <td>
            Coletado
          </td>						

        </tr>
      </tbody>
    </table>-->
      </div>
    </div>				
  </div>
</div>

<div class="row" style="margin-top: 15px">
  <div class="col-md-12">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>
            Data
          </th>          
          <th>
            Previsão Entrega
          </th>
          <th>
              UF Entrega
          </th>
          <th>
            Rota
          </th>
          <th>
            Ação
          </th>						
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let rota of rotas">
          <td>
            {{ rota.Data }}
          </td>
          <td>
              {{ rota.DataEntrega }}
          </td>
          <td>
              {{ rota.UfEntrega }}
          </td>
          <td>
              {{ rota.Rota }}
          </td>				
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-warning" (click)="editar(rota.Id)">
              Editar
            </a>
            <a class="btn btn-danger" (click)="excluir(rota.Id)">
              Excluir
            </a>
            </div>							
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
