<div class="row" style="margin-top:15px">
  <div class="col-md-12">			

    <div class="card">
      <h5 class="card-header">
        Expedição
      </h5>
      <div class="card-body" style="padding:10px">
<form class="form">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <label>
          Data
        </label>
        <input type="date" class="form-control" id="exampleInputEmail1" placeholder="Logradouro">		
      </div>	
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <label>
          Previsão Entrega
        </label>
        <input type="date" class="form-control" id="exampleInputEmail1" placeholder="Logradouro">		
      </div>	
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <label>
          UF
        </label>
        <select class="form-control">
          <option></option>
          <option>ESPÍRITO SANTO - ES</option>
          <option>MINAS GERAIS - MG</option>
          <option>RIO DE JANEIRO - RJ</option>
          <option>SÃO PAULO - SP</option>
        </select>				
      </div>	
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      
        <label>
          Motorista
        </label>
        <select class="form-control">
          <option></option>
          <option>RENATO</option>
        </select>					
  
      </div>
      
      
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <label>
          Veículo
        </label>
        <select class="form-control">
          <option></option>
          <option>MOTO</option>
          <option>CAMINHONETE</option>
          <option>CAMINHÃO</option>
        </select>				
      </div>	
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <label>
          Rota
        </label>
        <input type="text" class="form-control" readonly="readonly">				
      </div>
      
        
                
    </div>	
  
<a class="btn btn-primary" href="#">Salvar</a>	


  
</form>
    
    
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>

          </th>					
          <th>
            Previsão entrega
          </th>
          <th>
            Cliente
          </th>
          <th>
            UF Coleta
          </th>
          <th>
            UF Entrega
          </th>		
          <th>
            Status
          </th>							
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <input class="form-control" Type="checkbox" />
          </th>					
          <td>
            02/08/2018
          </td>
          <td>
            Líder Aviação
          </td>
          <td>
            MG
          </td>
          <td>
            SP
          </td>
          <td>
            Coletado
          </td>						

        </tr>
      </tbody>
    </table>			

</div>

</div>				
      
      

  </div>
</div>




<div class="row" style="margin-top: 15px">
  <div class="col-md-12">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>
            Data
          </th>
          <th>
            Rota
          </th>
          <th>
            Previsão entrega
          </th>
          <th>
            UF Entrega
          </th>
          <th>
            Status
          </th>
          <th>
            Ação
          </th>						
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            02/08/2018
          </td>
          <td>
            Líder Aviação
          </td>
          <td>
            MG
          </td>
          <td>
            SP
          </td>
          <td>
            Coletado
          </td>						
          <td>
            <div class="btn-group" role="group">
            <a class="btn btn-warning" href="#">
              Editar
            </a>
            <a class="btn btn-danger" href="#">
              Excluir
            </a>
            </div>							
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>