<div class="row" style="margin-top:15px">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">
        Informações da coleta
      </h5>  
      <div class="card-body" style="padding:10px">
        <form class="form">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <label>
                Remetente
              </label>
              <select [(ngModel)]="cliente.Id" (change)="selecionarRemente(cliente.Id)" class="form-control" name="cliente.Id">
                  <option *ngFor="let cliente of clientes" value="{{ cliente.Id }}">{{ cliente.Nome }}</option>
              </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
              <label>
                Endereço de coleta
              </label>
              <input type="text" readonly="readonly" [(ngModel)]="cliente.Endereco" class="form-control" name="cliente.Endereco">
            </div>
            <div class="col-12 col-sm-6 col-md-2 col-lg-1">
              <label>
                Nº
              </label>
              <input type="text" readonly="readonly" [(ngModel)]="cliente.Numero" class="form-control" name="cliente.Numero">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <label>
                Bairro
              </label>
              <input type="text" readonly="readonly" [(ngModel)]="cliente.Bairro" class="form-control" name="cliente.Bairro">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <label>
                Cep
              </label>
              <input type="text" readonly="readonly" [(ngModel)]="cliente.Cep" class="form-control" name="cliente.Cep">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <label>
                UF
              </label>
              <input type="text" readonly="readonly" [(ngModel)]="cliente.Uf" class="form-control" name="cliente.Uf">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <label>
                Cidade
              </label>
              <input type="text" readonly="readonly" [(ngModel)]="cliente.Cidade" class="form-control" name="cliente.Cidade">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <label>
                Destinatario
              </label>
              <select [(ngModel)]="clienteDestinatario.Id" (change)="selecionarDestinatario(clienteDestinatario.Id)" class="form-control" name="clienteDestinatario.Id">
                  <option *ngFor="let cliente of clientes" value="{{ cliente.Id }}">{{ cliente.Nome }}</option>
              </select>              
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
              <label>
                Endereço de coleta
              </label>
              <input type="text" readonly="readonly" [(ngModel)]="clienteDestinatario.Endereco" class="form-control" name="clienteDestinatario.Endereco">
            </div>
            <div class="col-12 col-sm-6 col-md-2 col-lg-1">
              <label>
                Nº
              </label>
              <input type="text" readonly="readonly" [(ngModel)]="clienteDestinatario.Numero" class="form-control" name="clienteDestinatario.Numero">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <label>
                Bairro
              </label>
              <input type="text" readonly="readonly" [(ngModel)]="clienteDestinatario.Bairro" class="form-control" name="clienteDestinatario.Bairro">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <label>
                Cep
              </label>
              <input type="text" readonly="readonly" [(ngModel)]="clienteDestinatario.Cep" class="form-control" name="clienteDestinatario.Cep">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <label>
                UF
              </label>
              <input type="text" readonly="readonly" [(ngModel)]="clienteDestinatario.Uf" class="form-control" name="clienteDestinatario.Uf">              
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <label>
                Cidade
              </label>
              <input type="text" readonly="readonly" [(ngModel)]="clienteDestinatario.Cidade" class="form-control" name="clienteDestinatario.Cidade">
            </div>		
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
              <label>
                Data Coleta
              </label>
              <input type="date" [(ngModel)]="dataColeta" class="form-control" name="dataColeta" >
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
              <label>
                Data Entrega
              </label>
              <input type="date" [(ngModel)]="dataEntrega" class="form-control" name="dataEntrega" >
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <label>
                Rota
              </label>			
              <select [(ngModel)]="coleta.IdRota" class="form-control" name="coleta.IdRota">
                <option *ngFor="let rota of rotas" value="{{ rota.Id }}">{{ rota.Rota }}</option>
              </select>
            </div>			
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <label>
                Quantidade volumes
              </label>
              <input type="text" class="form-control" >
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <label>
                Valor do Frete
              </label>
              <input type="text" readonly="readonly" class="form-control" >
            </div>
          </div>
          <a style="margin-top: 10px" class="btn {{ btn }} {{ btnSalvarDisabled() }}" (click)="salvar()">{{ textoBtn }}</a>
		      <a style="margin-top: 10px; margin-left: 5px" class="btn btn-outline-secondary" [hidden]="!exibirBtnCancelar" (click)="cancelar()">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 15px">
  <div class="col-md-12">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>
            Previsão Entrega
          </th>
          <th>
            Remetente
          </th>
          <th>
            UF Coleta
          </th>
          <th>
            Destinatário
          </th>		  
          <th>
            UF Entrega
          </th>
          <th>
            Status
          </th>
          <th>
            Ação
          </th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let transporte of transportes">
          <td>
            {{ transporte.PrevisaoEntrega }}
          </td>
          <td>
            {{ transporte.ClienteColeta }}
          </td>
          <td>
            {{ transporte.UfRemetente }}
          </td>
          <td>
              {{ transporte.ClienteEntrega }}
          </td>		  
          <td>
              {{ transporte.UfDestinatario }}
          </td>
          <td>
              {{ transporte.Status }}
          </td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-warning" (click)="editar(1)" >
                Editar
              </a>
              <a class="btn btn-danger" (click)="excluir(1)" >
                Excluir
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
